body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 600;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid green;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007BFF;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input[type="number"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

.input-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-group button:hover {
    background-color: #0056b3;
}

.output {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #d10a0a;
    background-color: #e8dfdf;
    border-radius: 4px;
}

.output p {
    margin: 0;
    padding: 5px 0;
}

@media (max-width: 600px) {
    .input-group {
        flex-direction: column;
    }

    .input-group input[type="number"] {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .input-group button {
        width: 100%;
        margin-bottom: 10px;
    }

    .input-group button:last-child {
        margin-bottom: 0;
    }
}
